.page-editor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &__navigation {
    display: block;
  }
}

.schema-code-panel {
  width: 100%;
  height: 100%;

  :global {
    .cm-editor {
      height: 100%;
    }
  }
}